<!DOCTYPE html>
<html>
<head>
  <title>Urban Genius</title>
  <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    <div class="grid">
      <div class ="unit one-quarter">
        <a href="/"><h1>Urban Genius</h1></a>
      </div>

      <div class="unit three-quarters">

        <% if current_user %>

        <div class = "form">

          <%= form_tag('/songs') do %>
          <%= label_tag :artist %>
          <%= text_field_tag :artist %>
          <%= label_tag :title %>
          <%= text_field_tag :title%>
          <%= submit_tag "Search" %>
          <% end %>

        </div>
        <nav>

          <div class ="direct">
            Logged in as <%= current_user.email %>
            | <%= link_to "Study Sheet", '/list' %>| <%= link_to "Log out", '/logout' %>
            <% else %>
            <div class="logged-out">
            <%= link_to "Sign up", '/signup' %> | <%= link_to "Log in", '/login' %>
            </div>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="wrap grid">
    <%flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>